@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.nav{
    padding: 1.4rem 15rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #503217;
    background-color: #EEEDE7;
    font-weight: 500;
}
.nav-middle-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}
.nav-last-section{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-middle-section div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}
.nav-middle-section > div:nth-child(3) > img{
    padding-top: 0.1rem;
}
.nav-middle-section div{
    cursor: pointer;
}
.logo-div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo-div h3{
    font-size: 2rem;
}
.logo-div > *{
    cursor: pointer;
}
.nav-last-section div{
    cursor: pointer;
}